@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap");

html {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(#2e303a, #1e2025);
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-content: center;
  }


::selection{
  background: #fa4299;
  color: #fff;
}

.wrapper {
  overflow: hidden;
  max-width: 500px;
  background: #fff;
  color: #0e0d0e;
  font-size: 70%;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.wrapper h3 {
text-transform: uppercase;
font-weight: 900;
}

input [type="radio"]{
  display: none;
}

#editar:checked ~ .slider-tab{
  left: 50%;
}

#editar:checked ~ etiqueta.editar{
  color: #fff;
  cursor: default;
  user-select: none;
}

#editar:checked ~ etiqueta.add{
  color: #000;
}

#add:checked ~ etiqueta.editar{
  color: #000;
}

#add:checked ~ etiqueta.add{
  cursor: default;
  user-select: none;
}

.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner{
  display: flex;
  width: 200%;
}

.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input, textarea{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 1.4em;
  transition: all 0.3s ease;
}

.form-inner form .field input:focus{
  border-color: #fc83bb;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner form .field input, textarea::placeholder{
  color: #999;
  transition: all 0.3s ease;
}

form .field input, textarea:focus::placeholder{
  color: #b3b3b3;
}

.form-inner form .pass-link{
  margin-top: 5px;
}

.form-inner form .editar-link{
  text-align: center;
  margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .editar-link a{
  color: #fa4299;
  text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .editar-link a:hover{
  text-decoration: underline;
}

form .field input[type="submit"] {
  border-radius: 35px;
  position: relative;
  background: -webkit-linear-gradient(right,#8f4399, #c33764, #8f4399);
  font-variant-caps: all-small-caps;
  font-weight: 600; 
  color: #fff;
  cursor: pointer;
}

form .field input[type="submit"]:hover {
  background: -webkit-linear-gradient(right, #6b4399, #b156ac, #794399);
  transition: all 0.4s ease;;
}


form [type="file"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding: 2%;
    border-radius: 5px;
    font-variant-caps: all-small-caps;
    font-weight: 600;
    cursor: pointer;
  }
