@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Open+Sans&display=swap");


/* BASICO
================================ */
html {
  scroll-behavior: smooth;
  font-size: calc(15px + vw);
}

body {
  font-size: 1.5em;
  background-color: #ce4865;
  color: #fff;
  font-family: 'Arvo', serif;
  text-align: center;
  line-height: 2.5rem;
  padding: 5em 0;
}

/* Tipografías
  ---------------------------------*/
  h1 {
    padding-bottom: 3%;
    font-size: 4rem;
    font-family: 'Lato', serif;
    font-weight: 900;
    letter-spacing: .4rem;   
  }

h2 {
  padding: 3% 0 0 0;
  font-family: 'Poppins', serif;
  font-weight: 900;
  letter-spacing: .2rem;
  line-height: 0;
}



